$primary-color: #272727;
$secondary-color: #00b392;

@mixin transition-ease {
    transition: all 1s ease-in-out;
}

@keyframes slideInDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInDownVH {
    0% {
      transform: translateY(-70vh);
    }
    100% {
      transform: translateY(0);
    }
  }

@mixin media-sm {
  @media screen and (min-width: 0px) and (max-width: 500px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
      @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
      @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
      @content;
  }
}