.home {
    padding-top: 25vh;
    color: #fff;
    transform: translateY(0%);
    visibility: visible;
    @include transition-ease;
    animation: 1s ease-out 0s 1 slideInDown;
    z-index: 3;
    background-color: $primary-color;
    overflow: hidden;
    height: 100%;

    &__hi {
        color: $secondary-color;
        letter-spacing: 2px;
    }

    &__name {
        color: $secondary-color;
        letter-spacing: 2px;
    }

    &__job {
        border-bottom: 3px solid $secondary-color;
        padding-bottom: 1rem;
        letter-spacing: 2px;
    }

    &__location {
        padding-bottom: 1rem;
        letter-spacing: 2px;
    }



    h1, h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        letter-spacing: 2px;
        padding-top: 1rem;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
    }
}

.open {
    transform: translateY(-90%);
}

.arrow {
    padding: 2rem;
    z-index: 2;
    transform: translateY(0%);
    @include transition-ease;
    animation: 1s ease-out 0s 1 slideInDownVH;
    font-size: 2rem;
    
    .home__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $secondary-color;
        transition: 0.5s;
    }

    .home__arrow:hover {
        color: white;
    }

}

.open_visible {
    transform: rotate(180deg);
}




.bio {
    width: 100%;
    top: 10vh;
    position: absolute;
    z-index: -1;
    color: white;
    padding: 1rem;
    line-height: 1.5rem;
    border-bottom: 3px solid $secondary-color;

    &__secondary-color {
        padding-bottom: 1.5rem;
    }

    &__centered {
        text-align: center;
        font-size: 32px;
        letter-spacing: 4px;
    }

    &__secondary-color {
        color: $secondary-color;
    }

    &__text {
        text-align: center;
        font-size: 18px;
        letter-spacing: 4px;
    }

}

.education {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
    perspective: 1500px;
    border-bottom: 3px solid $secondary-color;



    &__cards {
        width: 65vw;
        height: 40vh;
        margin: 2rem auto 0 auto;
        border: 2px solid #016855;
        background: rgb(22, 22, 22);
        position: relative;
        cursor: pointer;
        transform-style: preserve-3d;
        transform-origin: center right;
        transition: transform 1s;
        

        h1 {
            padding-top: 0.5rem;
            color: $secondary-color;
            letter-spacing: 0.3rem;
        }

        h5 {
            color: $secondary-color;
            text-align: center;
            font-size: 16px;
        }

    }

    
    .card__face {
        img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
        }

    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $secondary-color;
    
    }
    
    &__overlay:hover {
        opacity: 0.3;
    }
}

.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    backface-visibility: hidden;

}



.card__face--back {
    transform: rotateY(180deg);

    h1 {
        font-size: 22px;
    }
  }

.centered {
    list-style-type: none;
    color: white;
  }

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icons > a > i {
    color: $secondary-color;
    padding: 0.5rem;
    transition: 0.5s;
}

.social-icons > a > i:hover {
    color: white;
}

.letter-spacing {
    letter-spacing: 2px;
}

.aligned {
    text-align: center;
    color: white;
    font-size: 18px;
}

.projects {
    border-bottom: 3px solid $secondary-color;
    padding-top: 1rem;
    padding-bottom: 2rem;

    &__info {
        color: white;
        letter-spacing: 2px;
        font-size: 16px;
        border-bottom: 3px solid $secondary-color;
    }

    &__items {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &__bio {
            color: $secondary-color;
            text-align: center;
            margin-bottom: -2rem;
        }
    }

    &__item {
        position: relative;
        border-bottom: 5px solid $secondary-color;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-ease;
        }

        &:hover {
            &::after {
                top: 0;
                opacity: 0.9;
            }
            .projects__btn {
                opacity: 1;
            }
        }
    }

    &__btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }

    &__btn {
        opacity: 0;
        color: white;
        @include transition-ease;

    }

}

.contact {
    height: 100%;
    padding-top: 2vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;

    h1 {
        margin-bottom: 2rem;
    }
  
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      font-size: 1.5rem;
    }

    .social-icons {
        position: initial;
        margin-top: 2rem;
      }
  }

  .contact__email,
  .contact__phone,
  .contact__address {
    color: white;
  }

  footer {
    font-size: 1rem;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: #fff;
  }

  .projects__info > p > a {
    color: $secondary-color;
  }