@include media-sm {
    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
        padding-bottom: 8rem;
        border-bottom: 5px solid $secondary-color;
    }
    .flip-card {
        height: 250px;
        width: 250px;
    }
    .cards {
        gap: 10rem;
    }
    
}


@include media-md {
    
    .flip-card-back {
        h1 {
            font-size: 20px;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 8rem;
        border-bottom: 5px solid $secondary-color;
        gap: 2rem;
    }
    
    .flip-card {
        height: 200px;
        width: 200px;
    }
    .home {
        padding-top: 10vh;
    }

    .education {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &__cards {
            height: 30vh;
            width: 28vw;
        }
    }
}

@include media-lg {
    .flip-card-front {
        h1 {
            font-size: 32px;
        }
    }
    .flip-card-back {
        h1 {
            font-size: 32px;
        }
    }
    .cards {
        gap: 2rem;
    }

    .flip-card {
        height: 300px;
        width: 300px;
    }

    .projects {
        &__info {
            margin: auto;
            border-bottom: 0;
        }

        &__items {
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;

            &__bio {
                margin: auto;
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .education {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        &__cards {
            height: 40vh;
            width: 28vw;
        }
    }
}

@include media-xl {
    .flip-card {
        height: 400px;
        width: 400px;
    }
    .projects {
        &__items {
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;

            &__bio {
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}