@include media-md {
    .home {
        padding-top: 10vh;
    }

    .card__face--back {
        h1 {
            font-size: 22px;
        }

    }

    .education {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &__cards {
            height: 30vh;
            width: 28vw;
        }
    }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;

            &__bio {
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .education {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        &__cards {
            height: 40vh;
            width: 28vw;
        }
    }
}

@include media-xl {
    .projects {
        &__items {
            grid-template-columns: 1fr 1fr 1fr;
            width: 80%;

            &__bio {
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}